# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# My
a0/.idea/
a0/cmake-build-debug
a1/.idea/
a1/cmake-build-debug
a1/.vscode/
a1/.idea/
a1/cmake-build-debug
a1/.vscode/
a2/.idea/
a2/.vscode/
a2/build/
a2/cmake-build-debug
